{% extends "base.html" %}
{% load blog_extras cache %}
{% block content %} 
<!-- Blog Title with preview ('content') of post -->
<h2>{{ post.title }}</h2> 
{% row %}
    {% col %}
        {% include "blog/post-byline.html" %}
    {% endcol %}
{% endrow %}
{% row %}
    {% col %}
        {{ post.content|safe }}
    {% endcol %}
{% endrow %}
<br>
<!-- Author Profile Model and Bio -->
{% if post.author.profile %}
    {% row %}
        {% col %}
            <h4>About the author</h4>
            <p>{{ post.author.profile.bio }}</p>
        {% endcol %}
    {% endrow %}
{% endif %}

<!-- Comment Form -->
{% include "blog/post-comments.html" %}

<!-- Most Recent Blog Posts -->
{% row %}
    {% col %}
        <!-- Cache Recent Posts for One Hour -->
        {% cache 3600 recent_posts post %}
            {% recent_posts post %}
        {% endcache %}
    {% endcol %}
{% endrow %}
{% endblock %}
