{% extends "base.html" %}
{% load static %}
<!-- ReactJS https://reactjs.org/ -->
{% block title %}Post Table{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
      <!-- root react element -->
        <div id="react_root"></div>
    </div>
</div>
<!-- ReactJS Script tags -->
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<!-- Babel -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- Javascript includes blog.js -->
<script type="text/babel" src="{% static "blog/blog.js" %}"></script>

{% endblock %}

