{% extends "base.html" %}
{% load static %}
<!-- ReactJS https://reactjs.org/ -->

{% block content %}
<div class="row">
    <div class="col">
      <!-- root react element -->
        <div id="react_root"></div>
    </div>
</div>
<!-- ReactJS Script tags -->
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<!-- Javascript includes blog.js -->
<script src="{% static "blog/blog.js" %}"></script>

{% endblock %}

